form[inert] {
    opacity: .3;
}

h3{
  align-self: center;
}
input{
  border-radius: 4px;
  flex: 0 0 200px;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 1000px;
  background-color: #F0F0F0;
  padding: 50px;
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 50px;
}
  
button {
  background-color: #0096FF;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
}