form[inert] {
    opacity: .3;
}

h1{
  text-align: center;
  font-size: xx-large;
  max-width: 1000px;
  background-color: #f1f4f6;
  padding: 15px;
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 50px;
}

input{
  border-radius: 4px;
  flex: 0 0 200px;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 1000px;
  background-color: #f1f4f6;
  padding: 50px;
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 20px;
}
  
button {
  background-color: #106cfc;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
}